<ion-view view-title="Holder">
    <ion-content>
        <ion-refresher pulling-text="refresh" on-refresh="getCounter(url)"></ion-refresher>
        <div>
        <input type="text" name="code" ng-model="code" placeholder="please input your code here" style="width:200px;border: 1px;">
        <button ng-click="addStock(code)">add code</button>
        </div>
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
            <tr ng-repeat="stock in $data">
                <td title="'代码'" sortable="'code'">
                    {{stock.code}}</td>
                <td title="'名称'" sortable="'name'">
                    {{stock.name}}</td>
                <td title="'信号'" sortable="'signal'">
                    {{stock.signal }}</td>
                <td title="'current'" sortable="'current'">
                    {{stock.current}}</td>
                <td title="'rate'" sortable="'rate'">
                    {{stock.rate | number:3}}</td>
                <td title="'gate'" sortable="'gate'">
                    {{stock.gate | number:3}}</td>
                <td title="'查看'">
                    <button type="button" class="btn btn-primary" ng-click="openModal('{{stock.code}}')">Detail</button>
                </td>
                <td title="'操作'">
                    <button type="button" class="btn btn-primary" ng-click="deleteStock('{{stock.code}}')">Delete</button>
                </td>
            </tr>
        </table>
    </ion-content>
</ion-view>