<ion-view view-title="Popular">
  <ion-nav-buttons side="right">
    <select ng-init="day = days[0]" ng-model="day" ng-options="x for x in days" ng-change="changeLevel(day)" style="width: 100px;margin-right: 30px;">
    </select>
    <button class="button" ng-click="changeAspect()">{{aspect}}</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="refresh" on-refresh="stopSound()"></ion-refresher>
    <div id="popular" style="width: 600px;height:400px;"></div>
  </ion-content>
</ion-view>