<ion-view view-title="Pref">
    <ion-content>
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
            <tr ng-repeat="stock in $data">
                <td title="'代码'" sortable="'code'">
                    {{stock.code}}</td>
                <td title="'名称'" sortable="'name'">
                    {{stock.name}}</td>
                <td title="'sell'" sortable="'sell'">
                    {{stock.sell}}</td>
                <td title="'buy'" sortable="'buy'">
                    {{stock.buy}}</td>
                <td title="'current'" sortable="'current'">
                    {{stock.current}}</td>
                <td title="'concept'" sortable="'concept'">
                    {{stock.concept}}</td>
                <td title="'操作'">
                    <button type="button" class="btn btn-primary" ng-click="openModal('{{stock.code}}')">Detail</button>
                </td>
            </tr>
        </table>
    </ion-content>
</ion-view>