<ion-view view-title="Trend">
  <ion-content>
      <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="false">
        <tr ng-repeat="stock in $data">
            <td title="'代码'" sortable="'code'">
                {{stock.code}}</td>
            <td title="'名称'" sortable="'name'">
                {{stock.name}}</td>
            <td title="'price'" sortable="'price'">
                {{stock.price}}</td>
            <td title="'current'" sortable="'current'">
                {{stock.current}}</td>
            <td title="'a'" sortable="'a'">
                {{stock.a}}</td>
            <td title="'increase'" sortable="'increase'">
                {{stock.increase}}</td>
            <td title="'time'" sortable="'time'">
                {{stock.time}}</td>
            <td title="'level'" sortable="'level'">
                {{stock.level}}</td>
            <td title="'操作'">
              <button type="button" class="btn btn-primary" ng-click="openModal('{{stock.code}}')">Detail</button>
            </td>
        </tr>
    </table>
  </ion-content>
</ion-view>

